
<div class="container">
  <div class="row">
  	<div class="col-lg-2"></div>
	 <div class="col-lg-8">

		<h2>Books</h2>
		<%= form_for(@book) do |f| %>

		<h4>title</h4>
		<%= f.text_field :title, class: "book_title" , style: 'width: 100% ' %>

		<h4>Opinion</h4>
		<%= f.text_area :opinion, class: "book_body" , style: 'width: 100% ' %><br>

		<%= f.submit "Update Book", class: "btn btn-primary active", style: 'width: 100%' %>

		<% end %>
	</div>
	<div class="col-lg-2"></div>

    </div>
</div>

